RewriteEngine On
# Ignora arquivos e pastas que realmente existem
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Manda tudo para o seu arquivo index.php
RewriteRule ^ index.php [L]