body{
    overflow-x:hidden;
}

#socialMedia{
    margin-right:20px;
}

.crtlogobg{
    background:#006BAD;
}

.crtlogocolor{
    color:#006BAD;
}

.editais{
    width:100%;
    flex-wrap:wrap;
    display:flex;
    justify-content:center;
}

.edital {
    width:40%;
    margin:10px;
}

.crtbg{
    background:#01255E;
}

.cardi .card{
    margin:5px;
}

.crtcolor{
    color:#01255E;
}

#socialMedia ul{
    display:flex;
    flex-direction:row;
    list-style:none;
}

#socialMedia ul li{
    margin-left:10px;
}

#socialMedia i{
    font-size:25px;
}