body{
    overflow-x:hidden;
}

#socialMedia{
    margin-right:20px;
}

.crtlogobg{
    background:#006BAD;
}

.noticias{
    width:100%;
    display:flex;
    justify-content:center;
    flex-direction:row;
    /* margin:5px; */
    flex-wrap:wrap;
}

.noticia{
    width:250px;
    height:350px;
    padding:0px;
    margin:10px;
}

.noticia a{
    text-decoration:none;
}

.noticia img{
    height:250px;
    width:100%;
}

.crtlogocolor{
    color:#006BAD;
}

.contentRegistros{
    background:#F9F9F9;
}

.cartilhas{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.cartilhas img{
    width:500px;
    height:300px;
    margin:5px;
}

.sirvissos .col{
    text-align:center;
}

.sirvissos img{
    width:250px;
    height:180px;
}

.linksUteis{
    width:100%;
    display:flex;
    justify-content:center;
}

.linksUteis img{
    width:150px;
    height:80px;
}

.registros{
    width:100%;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

/* CSS media query dentro de um stylesheet */
@media (max-width: 600px) {
    .registros .registro{
        margin:5px;
        width:100%;
    }
}

.registros .registro{
    margin:5px;
    width:20%;
}

.linksUteis a{
    text-decoration:none;
    margin:5px;
    color:black;
}

.editais{
    width:100%;
    flex-wrap:wrap;
    display:flex;
    justify-content:center;
}

.edital {
    width:40%;
    margin:10px;
}

.crtbg{
    background:#01255E;
}

.cardi .card{
    margin:5px;
}

.crtcolor{
    color:#01255E;
}

#socialMedia ul{
    display:flex;
    flex-direction:row;
    list-style:none;
}

#socialMedia ul li{
    margin-left:10px;
}

#socialMedia i{
    font-size:25px;
}